<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'Course.list_of_presence' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<p class="font-11">{{'Course.course' | translate}}: {{ _course }}</p>
	<p class="font-11">Tutor: {{ _teacher }}</p>
	<p class="font-11">{{'Common.student' | translate}}: {{ _student }}</p>
	<ion-item-divider color="gray"></ion-item-divider>
	<p class="font-11">{{'Course.presence_input' | translate}}</p>
	<ion-list>

	  <ion-item>
	    <ion-label floating>{{'Course.study_date' | translate}}</ion-label>
	    <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="_study_date"></ion-datetime>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>{{'Course.start_time' | translate}}</ion-label>
	    <ion-datetime displayFormat="HH mm" pickerFormat="HH mm" [(ngModel)]="_start_time"></ion-datetime>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>{{'Course.end_time' | translate}}</ion-label>
	    <ion-datetime displayFormat="HH mm" pickerFormat="HH mm" [(ngModel)]="_end_time"></ion-datetime>
	  </ion-item>
	
		<button ion-button color="primary" outline round block (click)="do_submit()">Submit</button>
	</ion-list>
	<ion-item-divider color="gray"></ion-item-divider>
	<p class="font-11">List</p>
	<ion-card *ngFor="let i of _items">
	  	<ion-card-header>
	    	<h2>{{i.teach_date}}</h2>
	  	</ion-card-header>
	  	<ion-card-content>
	  		<ion-list no-lines>
				<ion-item>
					{{'Course.time_of_study' | translate}}: 
					<ion-note>{{i.start_time}} - {{i.end_time}}</ion-note>
				</ion-item>
				<ion-item>
					{{'Course.presence_acknowledge_by_student' | translate}}
					<ion-icon *ngIf='i.student_entry=="true"' name="checkmark-circle" item-end color="blue"></ion-icon>
			    	<ion-icon *ngIf='i.student_entry=="false"' name="close" item-end color="red"></ion-icon>
				</ion-item>
	  		</ion-list>
	  	</ion-card-content>
	</ion-card>
</ion-content>
