page-order-choose-tutor {
	.toolbar-title{
		text-align: left; 
		text-transform: uppercase;
	}
	img.profile{
		border-radius: 50%;
	}
	.fee{
		position: relative;
		float: right;
		margin-right: -20px;
		padding: 10px;
		background-color: #F66539;
		color: #fff;
		border-radius: 3px;
	}
	p{
		line-height: 60%;
	}
	p.about{
		color: #A4A4A4;
		line-height: 120%;
	}
	p.edu-list{
		line-height: 120%;
	}
	.title-profile{
		background-color: #E6E6E6;
		text-transform: uppercase;
		width: 850px;
		padding: 15px 5px 5px 15px;
	}
}
